"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.o"
      "*.gch"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-panda-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 18
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "12bde961-eed9-4ce7-9091-fa641e27d7d6"
  "linter-gcc":
    gccDefaultCFlags: "-c -Wall -Werror -Wextra -Wpedantic "
    gccDefaultCppFlags: "-c -Wall -Werror -Wextra -Wpedantic -std=c++11"
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
